
Options +FollowSymlinks
RewriteEngine On

# Deal with backend first
RewriteCond %{REQUEST_URI} ^/m102/(backend)
RewriteRule ^backend/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^backend/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/m102/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/m102/(backend)
RewriteRule ^.*$ backend/web/index.php [L]

# Deal with frontend
RewriteCond %{REQUEST_URI} ^/m102/(assets|css)
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]

# Deal with common
RewriteCond %{REQUEST_URI} ^/m102/(assets|css|images|js)
RewriteRule ^assets/(.*)$ common/web/assets/$1 [L]
RewriteRule ^css/(.*)$ common/web/css/$1 [L]
RewriteRule ^images/(.*)$ common/web/images/$1 [L]

RewriteCond %{REQUEST_URI} !^/m102/(frontend|backend|common)/web/(assets|css|images|js)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php