
// Namespaced temp variables
$_footer-temp-color: #BDBDBD;

.page-footer {
	height: auto;
	padding: 4*$unit 0 2*$unit 0;
	color: $_footer-temp-color;
	border: 0 solid transparent;
	background: {
		image: image-url("decorative/architecture.jpg");
		repeat: no-repeat;
		size: cover;
		color: #333;
	}
	&__top {
		padding-bottom: 2*$unit;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	&__header {
		color: #FFF;
	}
	&__menu {
		padding: 0;
		list-style-type: none;
		.menu {
			&__item {
				margin-bottom: $unit;
			}
			&__link {
				display: inline-block;
				color: $_footer-temp-color;
				border-bottom: 1px dotted;
				&:hover {
					border-bottom: 1px solid transparent;
				}
			}
		}
		.link {
			&:after {
				background: $_footer-temp-color;
			}
		}
	}
	&__copyright {
		margin: 0;
		padding-top: 2*$unit;
		text-align: center;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 5*$unit;
	right: 5*$unit;
	display: none;
	padding: 2*$unit;
	background-color: $color-attention;
	color: #FFF;
	line-height: 1;
	@include border-radius(0.2*$unit);
	&:hover {
		background-color: $color-attention-dark;
		@include transition(all $transition-time-main);
	}
	&__icon {
		font-size: 2*$unit;
		color: #FFF;
	}
}