
#body {
	.navbar-brand {
		color: $color-main;
		&:hover {
			color: $color-link;
		}
	}
	.navbar-toggle {
		background-color: $color-main;
		border-color: $color-main;
		&:hover {
			background-color: $color-fourth;
		}
	}
	.main-header {
		padding: 1.5*$unit 0;
		background-color: $color-background-secondary;
		border-bottom: 1px solid $color-fourth;
		&__item {
			background-color: transparent;
			.main-header__link {
				background-color: transparent;
			}
		}
		&__link {
			font-size: 1.6*$unit;
			color: $color-main;
			&:hover {
				color: $color-link;
			}
		}
		.button--logout {
			margin-left: 2*$unit;
			margin-top: 0.8*$unit;
			padding-top: 0.7*$unit;
			padding-bottom: 0.7*$unit;
		}
	}
	// Admin
	.admin-navbar {
		padding: 0;
		border-bottom: 0 solid transparent;
		.sidebar-toggle {
			margin-top: $unit;
			margin-left: $unit;
			padding: $unit;
		}
		&__ip {
			display: inline-block;
			margin-top: 0.5*$unit;
			padding: 1.5*$unit;
		}
		.logo {
			display: block;
			height: 100%;
			padding: 1.5*$unit;
			line-height: 2.8*$unit;
		}
	}
	.user-menu {
		&__title {
			display: inline-block;
			padding: 1.5*$unit;
		}
	}
}

