
.team-members {
	padding: 4*$unit 0;
	background-color: $color-secondary;
	&__all {
		display: flex;
		justify-content: space-evenly;
		@include mq(sm-neg) {
			flex-direction: column;
		}
	}
	&__header {
		margin-bottom: 2*$unit;
		text-align: center;
	}
	&__description {
		max-width: 40*$unit;
		margin: 0 auto 2*$unit auto;
		font-weight: bold;
		text-align: center;
	}
}

.team-member {
	flex-grow: 1;
    flex-basis: 0;
	margin: 0 2*$unit 0 0;
	margin-right: 2*$unit;
	padding: $unit;
	border: 0.2*$unit solid $color-fourth;
	@include border-radius($border-radius-main);
	@include mq(sm-neg) {
		margin: 0 0 2*$unit 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__image {
		margin: $unit auto;
		text-align: center;
		@include border-radius(50%);
	}
	&__name {
		margin: $unit auto;
		text-align: center;
		font-weight: bold;
	}
	&__info {
		margin-bottom: 0;
		text-align: center;
	}
}

.skills {
	position: relative;
	padding: 4*$unit 0;
	&__header {
		margin-bottom: 2*$unit;
		text-align: center;
	}
}

.skill {
	margin-bottom: 4*$unit;
	&__name {
		font-size: 2*$unit;
		&:after {
			display: block;
			content: " ";
			width: 100%;
			height: 0.5*$unit;
			margin-top: $unit;
			background-color: $color-main;
			@include border-radius($border-radius-main);
		}
	}
	&__percent {
		float: right;
	}
}

.technologies {
	padding: 4*$unit 0;
	background-color: $color-secondary;
	&__group {
		margin-bottom: 2*$unit;
		@include mq(sm-plus) {
			margin-bottom: $spacing-vertical-outer-main;
		}
	}
	&__all {
		@include mq(sm-plus) {
			position: relative;
			display: flex;
			&:after {
				position: absolute;
				top: 0;
				left: 50%;
				display: block;
				content: " ";
				width: 1px;
				height: 100%;
				background-color: $color-fourth;
			}
		}
	}
	&__header {
		margin-bottom: 4*$unit;
		text-align: center;
	}
	&__subheader {
		margin-bottom: 2*$unit;
		text-align: center;
	}
}

.technology {
	position: relative;
	margin-bottom: 2*$unit;
	padding: 2*$unit;
	background-color: $color-third;
	@include border-radius($border-radius-main);
	@include mq(sm-plus) {
		min-height: 26*$unit;
	}
	@include mq(md-plus) {
		min-height: 21*$unit;
	}
	&__link {
		margin-bottom: 0;
		font-weight: bold;
		@include mq(sm-plus) {
			position: absolute;
			bottom: 2*$unit;
		}
	}
}

.project-metrics {
	padding: 8*$unit 0;
	background: {
		image: image-url("decorative/keyboard.jpg");
		repeat: no-repeat;
		size: cover;
	}
}

.project-metric {
	@include mq(xs-neg) {
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include mq(md-neg) {
		margin-bottom: 2*$unit;
	}
	font-size: 2.6*$unit;
	text-align: center;
	color: #FFF;
	&__icon {
		display: inline-block;
		width: 12*$unit;;
		height: 12*$unit;;
		margin: 0 auto 2*$unit auto;
		padding: 4*$unit 0;
		font-size: 4*$unit;
		font-weight: bold;
		line-height: 4*$unit;
		border: 1px solid #FFF;
		@include border-radius(50%);
	}
	&__header {
		font-size: 2*$unit;
		line-height: 1;
	}
	&__number {
		margin-bottom: 0;
		font-size: 4*$unit;
		font-weight: bold;
		line-height: 1;
	}
}