
// Body

$color-background-main: #FFF;

$color-background-secondary: #F1F2F9;

// Typography
$unit: 0.625rem;
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-main: #336153;

// $color-secondary: #2E91B3;

$color-secondary: #4774b7;

$color-third: #6FB586;

$color-fourth: #4D5567;

$color-link: $color-main;

$color-inversed: #9DA5B9;

$color-button: #6FB586;

$color-luxury: #A8943D;