@charset "utf-8";

// Include the file with all the requirements
@import "includes";

// Custom code and overides

html, body {
	font-family: Raleway;
	color: $color-main;
}

p {
	line-height: 1.75;
}

.bold {
	font-weight: bold;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

$class: mb-;

// loops through 4 times
@for $i from 1 through 4 {
	.#{$class}#{$i} {
		margin-bottom: $i * $unit;
	}
}

#modalAddStockToPortfolioLink {
	display: none;
}

.icon-delete {
	font-size: 2*$unit;
	&:hover {
		cursor: pointer;
		@include opacity(0.75);
	}
	&--favorites {
		position: absolute;
		top: 2*$unit;
		right: 2*$unit;
	}
}

.stock-favorite {
	position: relative;
	margin-bottom: 4*$unit;
}